/* RESET styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e8ef;
}

/* back to top button */

#backToTop {
  position: fixed;
  bottom: 50px;
  left: -8%;
  transform: rotate(-90deg);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: white;
  background-color: rgb(243, 155, 53);
  padding: 0.1em;
  font-size: 0.9em;
}

#backToTop:active {
  color: inherit;
}

#backToTop.show {
  opacity: 1;
}

/* Main content and searchButton style */

main {
  display: flex;
  flex-direction: column;
}

#searchButton {
  line-height: 15px;
  width: 300px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 30px;
  height: 40px;
  color: white;
  transition: all 0.5s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(243, 155, 53);
  border: none;
  border-radius: 20px;
  font-weight: bolder;
}

#searchButton:hover {
  background-color: #d4d4d4;
  color: transparent;
  background-image: url("../assests/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em 2em;
  box-shadow: 0px 2px 10px 2px #72706f58;
}

input {
  width: 40%;
  height: 5vh;
  margin: 0 auto;
  border-radius: 10px;
}

input:focus,
input:focus-within {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin: 50px;
  margin-top: 50px;
}

#albumList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.albums {
  width: 30%;
  list-style-type: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.albumImage {
  max-width: 100%;
  cursor: pointer;
  border-radius: 8px;
  filter: grayscale(1);
  transition: 0.3s linear;
}

.albumImage:hover {
  filter: grayscale(0);
}

.albumName {
  text-align: center;
}
.trackList {
  scroll-behavior: auto;
  list-style: none;
}

#overlay {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#trackListContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#trackListContainer::-webkit-scrollbar {
  width: 10px;
}

#trackListContainer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

#trackListContainer::-webkit-scrollbar-thumb {
  background-color: rgb(243, 155, 53);
  border-radius: 3px;
}

iframe {
  width: 100%;
  max-width: 100%;
}

.closeButton {
  color: black;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.closeButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.closeButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(159, 161, 27, 0.1);
}
.closeButton:hover {
  background-color: rgb(243, 155, 53);
}
.closeButton:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.closeButton:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#errorMessage {
  margin: 0 auto;
  display: none;
  color: rgba(243, 154, 53, 0.748);
}

/* MOBILE DESIGN */

@media all and (max-width: 480px) {
  h1 {
    width: 80%;
    font-size: 2em;
  }

  input {
    min-width: 80%;
    height: 4em;
  }

  #searchButton {
    width: 80%;
  }

  #errorMessage {
    font-size: 1em;
  }

  body {
    transition: background-color 0.5s;
  }

  body.scroll-effect {
    background-color: #9cb9ff;
  }

  main {
    flex-direction: column;
  }

  .albums {
    width: 80%;
  }

  .albumImage {
    filter: none;
  }

  #trackListContainer {
    top: 40%;
    padding: 10px;
    width: 80%;
  }

  .closeButton {
    background-color: rgb(243, 155, 53);
  }

  #searchButton,
  #searchButton:hover {
    background-color: rgb(243, 155, 53);
    color: transparent;
    background-image: url("../assests/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em 2em;
  }
}

/* TABLET DESIGN */

@media all and (min-width: 481px) and (max-width: 768px) {
  h1 {
    width: 80%;
    font-size: 4em;
  }

  input {
    min-width: 80%;
    height: 4em;
    font-size: 1em;
  }

  #searchButton {
    width: 80%;
    height: 5em;
  }

  #errorMessage {
    font-size: 2em;
  }

  body {
    transition: background-color 0.5s;
  }

  body.scroll-effect {
    background-color: #9cb9ff;
  }

  main {
    flex-direction: column;
  }

  .albums {
    width: 40%;
  }

  .albumImage {
    filter: none;
  }

  #trackListContainer {
    top: 50%;
    padding: 15px;
    width: 80%;
  }

  .closeButton {
    background-color: rgb(243, 155, 53);
  }

  #searchButton,
  #searchButton:hover {
    background-color: rgb(243, 155, 53);
    color: transparent;
    background-image: url("../assests/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em 2em;
  }

  body.scroll-effect {
    background-color: #bcf6c5;
  }

  #backToTop {
    bottom: 50px;
    left: -4%;
    font-size: 0.9em;
  }
}
